
*{
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(126, 128, 248);
    color: black;

}
.content{
    background-color: rgb(88, 182, 88);
    height: 82vh;
}
.titulo{
    text-align: center;
    color: blue;
}
.titulo .boca, .centrado .boca {
    color: rgb(244, 240, 50); /* Establece el color para "BOCA" */
  }
  .delantera{
    display: flex;
    justify-content: center;
    column-gap: 50px;
  }
  .medio{
    display: flex;
    justify-content: space-evenly;
    column-gap: 50px
  }
  .defensa{
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
  }
  .arquero{
    display: flex;
    justify-content: center;
  }
.de{
  background-color: #0c600f;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 40px 40px;
  }
  .foot{
    background-color:rgb(126, 128, 248);
    height: 10vh;
    color: beige;
  }
  .centrado{
    text-align: center;
  }
