
*{
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(126, 128, 248);
    color: black;

}
.content{
    background-color: rgb(88, 182, 88);
    display: flex;
    flex-direction: row;
    height: 82vh;
}
.titulo{
    text-align: center;
    color: blue;
}
.titulo .boca, .centrado .boca {
    color: rgb(244, 240, 50); /* Establece el color para "BOCA" */
  }
  .delantera{
    display: flex;
    justify-content: center;
    column-gap: 50px;
  }
  .medio{
    display: flex;
    justify-content: space-evenly;
    column-gap: 50px
  }
  .defensa{
    display: flex;
    justify-content: space-around;
    column-gap: 8px;
  }
  .arquero{
    display: flex;
    width: 24%;
    margin: auto;
    /* text-align: center; */
    flex-direction: column;
    justify-content: center;
  }

  .jugador{
    display: inline-block;
    width: max-content;
    position: relative;
    top: -30px;
    left: 57px;
  }
  .defensor{
    display: inline-block;
    width: max-content;
    position: relative;
    top: 120px;
    left: -139px
  }
.de{
  background-color: #0c600f;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 50px 78px;
  }
  .foot{
    background-color:rgb(126, 128, 248);
    height: 10vh;
    color: beige;
  }
  .centrado{
    text-align: center;
  }
  .campo{
    display: inline;
    width: 70%;
  }
  .parallel{
    display: inline;
    width: 30%;
    background-color: blue;
  }
.formulario{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px 10px;
}
.formulario select{
  margin: 10px 0;
  padding: 5px;
  width: 200px;
  outline: none;
  background-color: yellow;
}
.formulario input{
  width: 200px;
  background-color: rgb(136, 248, 248);
  color: blue;
  border: none;
  padding: 5px;
}
.formulario input:hover{
  background-color: rgb(114, 128, 237);
  color: rgb(219, 244, 27);
}
