<div class="header">
    
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaInicial">Primera</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaReserva">Reserva</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaGladiadoras">Femenino</a>
    <a class="seleccionado" href="index.php?controller=Inicio&method=mostrarPantallaGuerreras">Voley Femenino</a>
    <button class="boton">Futsal</button>
    <button class="boton">Voley masculino</button>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaBasquet">Basquet</a>
    <a href=""></a>
</div>