<div class="header">
    
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaInicial">Primera</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaReserva">Reserva</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaGladiadoras">Femenino</a>
    <button class="seleccionado">Voley Femenino</button>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaFutsal">Futsal</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaVoleyMasc">Voley Masculino</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaBasquet">Basquet</a>
    <a href=""></a>
</div>