<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINEUP</title>
    <link rel="stylesheet" href="public/styles.css">
    <link rel="icon" href="public/EscudoEstrellas.png" type="image/x-icon">
</head>
<body>
    
    <header class="header">
        <img src="#" alt="">
        <h1 class="titulo">⭐ LINEUP <span class="boca">BOCA</span> JUNIORS ⭐</h1><br>
        

    </header>