
<main class="content">
    <div class="campo">
        <div class="delantera">
            <div class="d1 de"></div>
            <div class="d2 de"></div>
            
            <span>{{apellido}}
    
            </span>
        </div>
        <div class="medio">
            <div class="d1 de"></div>
            <div class="d2 de"></div>
            <div class="d3 de"></div>
            <div class="d4 de"></div>
            <span>{{apellido}}</span>
        </div>
        <div class="defensa">
            <div class="d1 de"></div>
            <div class="d2 de"></div>
            <div class="d3 de"></div>
            <div class="d4 de"></div>
            <span>{{apellido}}</span>
        </div>
        <div class="arquero">
            <div class="d1 de"></div>
        </div>
    </div>
   

    <section class="parallel">
        <form action="">
            <select name="" id="">
                <option value="">Ezequiel Zeballos</option>
                <option value="">Dario Benedetto</option>
                <option value="">Edinson Cavani</option>
                <option value="">Lucas Janson</option>
                <option value="">Miguel Merentiel</option>
                <option value="">Luca Langoni</option>
                <option value="">Norberto Briasco</option>
            </select>
            <select name="" id="">
                <option value="">Ezequiel Zeballos</option>
                <option value="">Dario Benedetto</option>
                <option value="">Edinson Cavani</option>
                <option value="">Lucas Janson</option>
                <option value="">Miguel Merentiel</option>
                <option value="">Luca Langoni</option>
                <option value="">Norberto Briasco</option>
            </select>
            <select name="" id="">
                <option value="">Ezequiel Bullaude</option>
                <option value="">Guillermo Fernandez</option>
                <option value="">Valentin Barco</option>
                <option value="">Juan Ramirez</option>
                <option value="">Ezequiel Fernandez</option>
                <option value="">Diego Gonzalez</option>
                <option value="">Cristian Medina</option>
                <option value="">Vicente Taborda</option>
                <option value="">Jorman Campuzano</option>
            </select>
            <select name="" id="">
                <option value="">Ezequiel Bullaude</option>
                <option value="">Guillermo Fernandez</option>
                <option value="">Valentin Barco</option>
                <option value="">Juan Ramirez</option>
                <option value="">Ezequiel Fernandez</option>
                <option value="">Diego Gonzalez</option>
                <option value="">Cristian Medina</option>
                <option value="">Vicente Taborda</option>
                <option value="">Jorman Campuzano</option>
            </select>
            <select name="" id="">
                <option value="">Ezequiel Bullaude</option>
                <option value="">Guillermo Fernandez</option>
                <option value="">Valentin Barco</option>
                <option value="">Juan Ramirez</option>
                <option value="">Ezequiel Fernandez</option>
                <option value="">Diego Gonzalez</option>
                <option value="">Cristian Medina</option>
                <option value="">Vicente Taborda</option>
                <option value="">Jorman Campuzano</option>
            </select>
            <select name="" id="">
                <option value="">Ezequiel Bullaude</option>
                <option value="">Guillermo Fernandez</option>
                <option value="">Valentin Barco</option>
                <option value="">Juan Ramirez</option>
                <option value="">Ezequiel Fernandez</option>
                <option value="">Diego Gonzalez</option>
                <option value="">Cristian Medina</option>
                <option value="">Vicente Taborda</option>
                <option value="">Jorman Campuzano</option>
            </select>
            <select name="" id="">
                <option value="">Facundo Roncaglia</option>
                <option value="">Marcelo Saracchi</option>
                <option value="">Nicolas Figal</option>
                <option value="">Marcos Rojo</option>
                <option value="">Nicolas Valentini</option>
                <option value="">Luis Advincula</option>
                <option value="">Frank Fabra</option>
                <option value="">Bruno Valdez</option>
                <option value="">Nahuel Genez</option>
                <option value="">Lautaro Di Lollo</option>
                <option value="">Lucas Blondel</option>
                <option value="">Marcelo Weigandt</option>
            </select>
            <select name="" id="">
                <option value="">Facundo Roncaglia</option>
                <option value="">Marcelo Saracchi</option>
                <option value="">Nicolas Figal</option>
                <option value="">Marcos Rojo</option>
                <option value="">Nicolas Valentini</option>
                <option value="">Luis Advincula</option>
                <option value="">Frank Fabra</option>
                <option value="">Bruno Valdez</option>
                <option value="">Nahuel Genez</option>
                <option value="">Lautaro Di Lollo</option>
                <option value="">Lucas Blondel</option>
                <option value="">Marcelo Weigandt</option>
            </select>
            <select name="" id="">
                <option value="">Facundo Roncaglia</option>
                <option value="">Marcelo Saracchi</option>
                <option value="">Nicolas Figal</option>
                <option value="">Marcos Rojo</option>
                <option value="">Nicolas Valentini</option>
                <option value="">Luis Advincula</option>
                <option value="">Frank Fabra</option>
                <option value="">Bruno Valdez</option>
                <option value="">Nahuel Genez</option>
                <option value="">Lautaro Di Lollo</option>
                <option value="">Lucas Blondel</option>
                <option value="">Marcelo Weigandt</option>
            </select>
            <select name="" id="">
                <option value="">Facundo Roncaglia</option>
                <option value="">Marcelo Saracchi</option>
                <option value="">Nicolas Figal</option>
                <option value="">Marcos Rojo</option>
                <option value="">Nicolas Valentini</option>
                <option value="">Luis Advincula</option>
                <option value="">Frank Fabra</option>
                <option value="">Bruno Valdez</option>
                <option value="">Nahuel Genez</option>
                <option value="">Lautaro Di Lollo</option>
                <option value="">Lucas Blondel</option>
                <option value="">Marcelo Weigandt</option>
            </select>
            <select name="" id="">
                <option value="">Sergio Romero</option>
                <option value="">Javi Garcia</option>
                <option value="">Leandro Brey</option>
               
            </select>
        </form>
        
    </section>
</main>