<div class="header">
    <button class="seleccionado">Primera</button>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaReserva">Reserva</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaGladiadoras">Femenino</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaGuerreras">Voley Femenino</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaBasquet">Futsal</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaVoleyMasc">Voley Masculino</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaBasquet">Basquet</a>
</div>
<main class="content">
    <div class="campo">
        
        <div class="delantera">
            {{#delantero1}}
            <div class="circulo1 de"></div>
            <span class="ataque">{{nombre}}</span>
            {{/delantero1}}
            {{#delantero2}}
            <div class="circulo1 de"></div>
            <span class="ataque">{{nombre}}</span>
            {{/delantero2}}
        </div>
        <div class="medio">
            {{#centro1}}
            <div class="circulo2 de"></div>
            <span  class="defensor">{{nombre}}</span>
            {{/centro1}}
            {{#centro2}}
            <div class="circulo2 de"></div>
            <span class="defensor">{{nombre}}</span>
            {{/centro2}}
            {{#centro3}}
            <div class="circulo2 de"></div>
            <span class="defensor">{{nombre}}</span>
            {{/centro3}}
            {{#centro4}}
            <div class="circulo2 de"></div>
            <span class="defensor">{{nombre}}</span>
            {{/centro4}}
        </div>
        
        <div class="defensa">
            {{#defensor1}}
            <div class="circulo3 de"></div>
            <span class="defensor">{{nombre}}</span>
            {{/defensor1}}
            {{#defensor2}}
            <div class="circulo3 de"></div>
            <span class="defensor">{{nombre}}</span>
            {{/defensor2}}
            {{#defensor3}}
            <div class="circulo3 de"></div>
            <span class="defensor">{{nombre}}</span>
            {{/defensor3}}
            {{#defensor4}}
            <div class="circulo3 de"></div>
            <span class="defensor">{{nombre}}</span>
            {{/defensor4}}
        </div>
        {{#arquero}}
        <div class="arquero">
            <div class="circulo4 de"></div>
            <span class="jugador">{{nombre}}</span>
        </div>
        {{/arquero}}
    </div>
   

    <section class="parallel">
        <form action="./index.php?controller=Inicio&method=procesarFormulario" method="post" class="formulario">
            <select name="jugador11" id="jugador11">
                <option value="" disabled selected>DE</option>
                <option value="Ezequiel Zeballos">Ezequiel Zeballos</option>
                <option value="Dario Benedetto">Dario Benedetto</option>
                <option value="Edinson Cavani">Edinson Cavani</option>
                <option value="Lucas Janson">Lucas Janson</option>
                <option value="Miguel Merentiel">Miguel Merentiel</option>
                <option value="Luca Langoni">Luca Langoni</option>
                <option value="Norberto Briasco">Norberto Briasco</option>
            </select>
            <select name="jugador10" id="jugador10">
                <option value="" disabled selected>DE</option>
                <option value="Ezequiel Zeballos">Ezequiel Zeballos</option>
                <option value="Dario Benedetto">Dario Benedetto</option>
                <option value="Edinson Cavani">Edinson Cavani</option>
                <option value="Lucas Janson">Lucas Janson</option>
                <option value="Miguel Merentiel">Miguel Merentiel</option>
                <option value="Luca Langoni">Luca Langoni</option>
                <option value="Norberto Briasco">Norberto Briasco</option>
            </select>
            <select name="jugador9" id="jugador9">
                <option value="" disabled selected>MC</option>
                <option value="Ezequiel Bullaude">Ezequiel Bullaude</option>
                <option value="Guillermo Fernandez">Guillermo Fernandez</option>
                <option value="Valentin Barco">Valentin Barco</option>
                <option value="Juan Ramirez">Juan Ramirez</option>
                <option value="Ezequiel Fernandez">Ezequiel Fernandez</option>
                <option value="Diego Gonzalez">Diego Gonzalez</option>
                <option value="Cristian Medina">Cristian Medina</option>
                <option value="Vicente Taborda">Vicente Taborda</option>
                <option value="Jorman Campuzano">Jorman Campuzano</option>
            </select>
            <select name="jugador8" id="jugador8">
                <option value="" disabled selected>MC</option>
                <option value="Ezequiel Bullaude">Ezequiel Bullaude</option>
                <option value="Guillermo Fernandez">Guillermo Fernandez</option>
                <option value="Valentin Barco">Valentin Barco</option>
                <option value="Juan Ramirez">Juan Ramirez</option>
                <option value="Ezequiel Fernandez">Ezequiel Fernandez</option>
                <option value="Diego Gonzalez">Diego Gonzalez</option>
                <option value="Cristian Medina">Cristian Medina</option>
                <option value="Vicente Taborda">Vicente Taborda</option>
                <option value="Jorman Campuzano">Jorman Campuzano</option>
            </select>
            <select name="jugador7" id="jugador7">
                <option value="" disabled selected>MC</option>
                <option value="Ezequiel Bullaude">Ezequiel Bullaude</option>
                <option value="Guillermo Fernandez">Guillermo Fernandez</option>
                <option value="Valentin Barco">Valentin Barco</option>
                <option value="Juan Ramirez">Juan Ramirez</option>
                <option value="Ezequiel Fernandez">Ezequiel Fernandez</option>
                <option value="Diego Gonzalez">Diego Gonzalez</option>
                <option value="Cristian Medina">Cristian Medina</option>
                <option value="Vicente Taborda">Vicente Taborda</option>
                <option value="Jorman Campuzano">Jorman Campuzano</option>
            </select>
            <select name="jugador6" id="jugador6">
                <option value="" disabled selected>MC</option>
                <option value="Ezequiel Bullaude">Ezequiel Bullaude</option>
                <option value="Guillermo Fernandez">Guillermo Fernandez</option>
                <option value="Valentin Barco">Valentin Barco</option>
                <option value="Juan Ramirez">Juan Ramirez</option>
                <option value="Ezequiel Fernandez">Ezequiel Fernandez</option>
                <option value="Diego Gonzalez">Diego Gonzalez</option>
                <option value="Cristian Medina">Cristian Medina</option>
                <option value="Vicente Taborda">Vicente Taborda</option>
                <option value="Jorman Campuzano">Jorman Campuzano</option>
            </select>
            <select name="jugador5" id="jugador5">
                <option value="" disabled selected>DF</option>
                <option value="Facundo Roncaglia">Facundo Roncaglia</option>
                <option value="Marcelo Saracchi">Marcelo Saracchi</option>
                <option value="Nicolas Figal">Nicolas Figal</option>
                <option value="Marcos Rojo">Marcos Rojo</option>
                <option value="Nicolas Valentini">Nicolas Valentini</option>
                <option value="Luis Advincula">Luis Advincula</option>
                <option value="Frank Fabra">Frank Fabra</option>
                <option value="Bruno Valdez">Bruno Valdez</option>
                <option value="Nahuel Genez">Nahuel Genez</option>
                <option value="Aaron Anselmino">Aaron Anselmino</option>
                <option value="Lautaro Di Lollo">Lautaro Di Lollo</option>
                <option value="Lucas Blondel">Lucas Blondel</option>
                <option value="Marcelo Weigandt">Marcelo Weigandt</option>
            </select>
            <select name="jugador4" id="jugador4">
                <option value="" disabled selected>DF</option>
                <option value="Facundo Roncaglia">Facundo Roncaglia</option>
                <option value="Marcelo Saracchi">Marcelo Saracchi</option>
                <option value="Nicolas Figal">Nicolas Figal</option>
                <option value="Marcos Rojo">Marcos Rojo</option>
                <option value="Nicolas Valentini">Nicolas Valentini</option>
                <option value="Luis Advincula">Luis Advincula</option>
                <option value="Frank Fabra">Frank Fabra</option>
                <option value="Bruno Valdez">Bruno Valdez</option>
                <option value="Nahuel Genez">Nahuel Genez</option>
                <option value="Aaron Anselmino">Aaron Anselmino</option>
                <option value="Lautaro Di Lollo">Lautaro Di Lollo</option>
                <option value="Lucas Blondel">Lucas Blondel</option>
                <option value="Marcelo Weigandt">Marcelo Weigandt</option>
            </select>
            <select name="jugador3" id="jugador3">
                <option value="" disabled selected>DF</option>
                <option value="Facundo Roncaglia">Facundo Roncaglia</option>
                <option value="Marcelo Saracchi">Marcelo Saracchi</option>
                <option value="Nicolas Figal">Nicolas Figal</option>
                <option value="Marcos Rojo">Marcos Rojo</option>
                <option value="Nicolas Valentini">Nicolas Valentini</option>
                <option value="Luis Advincula">Luis Advincula</option>
                <option value="Frank Fabra">Frank Fabra</option>
                <option value="Bruno Valdez">Bruno Valdez</option>
                <option value="Nahuel Genez">Nahuel Genez</option>
                <option value="Aaron Anselmino">Aaron Anselmino</option>
                <option value="Lautaro Di Lollo">Lautaro Di Lollo</option>
                <option value="Lucas Blondel">Lucas Blondel</option>
                <option value="Marcelo Weigandt">Marcelo Weigandt</option>
            </select>
            <select name="jugador2" id="jugador2">
                <option value="" disabled selected>DF</option>
                <option value="Facundo Roncaglia">Facundo Roncaglia</option>
                <option value="Marcelo Saracchi">Marcelo Saracchi</option>
                <option value="Nicolas Figal">Nicolas Figal</option>
                <option value="Marcos Rojo">Marcos Rojo</option>
                <option value="Nicolas Valentini">Nicolas Valentini</option>
                <option value="Luis Advincula">Luis Advincula</option>
                <option value="Frank Fabra">Frank Fabra</option>
                <option value="Bruno Valdez">Bruno Valdez</option>
                <option value="Nahuel Genez">Nahuel Genez</option>
                <option value="Aaron Anselmino">Aaron Anselmino</option>
                <option value="Lautaro Di Lollo">Lautaro Di Lollo</option>
                <option value="Lucas Blondel">Lucas Blondel</option>
                <option value="Marcelo Weigandt">Marcelo Weigandt</option>
            </select>
            <select name="jugador1" id="jugador1">
                <option value="" disabled selected>ARQ</option>
                <option value="Sergio Romero">Sergio Romero</option>
                <option value="Javi Garcia">Javi Garcia</option>
                <option value="Leandro Brey">Leandro Brey</option>
            </select>
            <input type="submit" name="enviar" value="CONFIRMAR EQUIPO">
        </form>
        
    </section>
</main>