<div class="header">
    
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaInicial">Primera</a>
    <button class="seleccionado">Reserva</button>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaGladiadoras">Femenino</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaGuerreras">Voley Femenino</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaFutsal">Futsal</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaVoleyMasc">Voley Masculino</a>
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaBasquet">Basquet</a>
</div>

<main class="content">
    <div class="campo">
        <h2 class="subtitulo">Lista de jugadores</h2>
        {{#jugadores_reserva}}
        <ul class="lista-h">
            <li class="subtitulo">{{nombre}}</li>
            <li>Dorsal: {{dorsal}}</li>
            <li>Posición: {{posicion}}</li>
        </ul>
        {{/jugadores_reserva}}
    </div>
</main>