<div class="header">
    
    <a class="boton" href="index.php?controller=Inicio&method=mostrarPantallaInicial">Primera</a>
    <button class="seleccionado">Reserva</button>
    <button  class="boton">Femenino</button>
    <button class="boton">Voley femenino</button>
    <button class="boton">Futsal</button>
    <button class="boton">Voley masculino</button>
    <button class="boton">Basquet</button>
    <a href=""></a>
</div>

<main class="content">
    <div class="campo">
        <h2>Lista de jugadores</h2>
        {{#jugadores_reserva}}
        <ul class="lista-h">
            <li>{{nombre}}</li>
            <li>{{dorsal}}</li>
            <li>{{posicion}}</li>
        </ul>
        {{/jugadores_reserva}}
    </div>
</main>